body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #0171f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.logo {
    width: 100px;
}

.header-links a {
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 15px;
}


.header-links a:hover {
    background-color: #2386fe;
}

.btn {
    border-radius: 50px;
    height: 52px;
    border: none;
    font-weight:600;
    font-size: medium;
    padding: 0 20px;
    background-color: #EE626B;
    color: #fff;
    text-transform: uppercase;
    transition: .3s;
}

.btn:hover {
    background-color: #f2858c;
    cursor: pointer;

}

.landingPage{
    background-color: #0171f9;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    border-radius: 0 0 50px 50px ;
}

.landingPage-left-section{
    width: 450px;
}

.landingPageSearch input{
    border-radius: 50px;
    border: none;
    outline: none;
    height: 30px;
    padding: 0 10px;
}



.landingPageSearch button{
    position: absolute;
    left: 200px;
    height: 30px;
}

.landingPage-image-container img{
    border-radius: 20px;
    width: 250px;
}


.trending-container{
    padding: 25px 50px;
}

.trending-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



